.split-screen {
    display: flex;
    height: 100dvh;
    width: 100%;
}

.split-screen__left {
    flex: 1.7;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
}

.split-screen__right {
    flex: 3;
    overflow-y: auto;
}