.contact-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    color: var(--primary-txt-color);
}

.contact-details__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button.detail {
    align-self: flex-start;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-txt-color);
}

.back-button.detail:hover {}

.contact-details__photo {
    max-width: 128px;
    border-radius: 50%;

}

.contact-details__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: var(--primary-txt-color);
}

.codename {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--secondary-txt-color);
}

.contact-details__buttons {
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 0.8rem;
}

.contact-details__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 33%;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--secondary-txt-color);
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--primary-txt-color);
}

.contact-details__button svg {
    color: #25d366;
}

.button-text {
    font-size: 0.7rem;
}

.contact-details__button:hover {

}

.contact-detail__info {}

.contact-detail__info-section {
    border-bottom: 1px solid var(--secondary-txt-color);
    padding: 0.7rem;
}

.contact-detail__info-section svg {
    margin-right: 0.5rem;
    vertical-align: middle;
    opacity: 0.7;
    font-size: 1rem;
}

.contact-detail__info-section:last-child {
    border: none;
}

.contact-detail__info-section p {}

.contact-detail__info-section strong {
    color: var(--primary-txt-color);
    font-weight: 600;
}

.contact-detail__info-section em {
    color: var(--secondary-txt-color);
}

.contact-detail__info-section ul {
    margin-left: 1.5rem;
}

.contact-detail__info-section li {
    list-style: circle;
}

.contact-detail__info-section:hover {}

@media (min-width: 768px) {
    .contact-details {
        padding: 2rem;
    }

    .contact-details__buttons {
        justify-content: space-around;
    }
}